[project]
name = "bilibili-subtitle-fetcher"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "faster-whisper>=1.0.0",
    "requests>=2.32.4",
    "opencc-python-reimplemented>=0.1.7",
]
